<div id="overlay" style="display: none;">
  <a href='#' onclick='overlay()' class="close">X</a>

  <h4>Game Rules</h4>
  <p>1. A coin flip will determine which player goes first.</p>
  <p>2. On a turn, a player may play a card of either the same suite or the same number as the card currently on the Stack.</p>
  <p>3. If a player cannot play a card from their hand, the player may draw from the deck until they can play a card. A player may only draw up to three times.</p>
  <p>4. If a player draws three cards and still cannot play, they pust pass on that turn.</p>
  <p>5. A player may only draw if they cannot play a card in their hand.</p>
  <p>6. If an eight is played, the player who played it must choose a new suit for the Stack.</p>
  <p>7. A player may change the current suit by playing a card of the same number but a different suit than that of the Stack. For example, if a four of Hearts is on the Stack, a player may change the Stack to Spades by playing a four of Spades.</p>
  <p>8. The game is won when a player runs out of cards and there are no more cards in the Deck.</p>
</div>