<div class="instructions-container">
  <a href='#' onclick='overlay()' style= "color: #fc331d">Read the Rules</a>
  {{> rules}}
</div>

<div class="tablebox">
  <button id="start-game">Begin a new Game</button>
</div>
