{{> rules}}
<div class="instructions-container">
   <div class="row-buttons">
   <a href='#' onclick='overlay()' class="readRules" >Read the Rules</a>
  <button id="start-game" class="menu-button">Begin a New Game</button>
  </div>
</div>

<div class="tablebox">
</div>
